name : Docker Automation


on:
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - name: checkout code files
            uses: actions/checkout@v4
          - name: login to docker hub
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKER_USERNAME }}
              password: ${{ secrets.DOCKER_PASSWORD }}
          - name: build docker image
            run: docker build -t ${{ secrets.DOCKER_USERNAME }}/8byte-intern-app .
          - name: image verification
            run: docker images | grep 8byte-intern-app
          - name: pushing to docker hub repository
            run: docker push ${{ secrets.DOCKER_USERNAME }}/8byte-intern-app
    deploy:
        runs-on: ubuntu-latest
        needs: build
        steps:
          - name: ssh into ec2 instance
            uses: appleboy/ssh-action@master
            with:
              host: ${{ secrets.EC2_HOST }}
              username: ${{ secrets.EC2_USERNAME }}
              key: ${{ secrets.EC2_SSH_KEY }}
              script: | 
                sudo docker rm -f 8byte-intern-app || true
                sudo docker pull ${{ secrets.DOCKER_USERNAME }}/8byte-intern-app
                sudo docker run -d --name 8byte-intern-app -p 3000:3000 ${{ secrets.DOCKER_USERNAME }}/8byte-intern-app:latest
                sleep 9
                curl -f http://localhost:3000 || (echo "not accessing the application" && exit 1)
