name : Docker Automation
on:
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - name: checkout code files
            uses: actions/checkout@v4
          - name: login to docker hub
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKER_USERNAME }}
              password: ${{ secrets.DOCKER_PASSWORD }}
          - name: build docker image
            run: docker build -t ${{ secrets.DOCKER_USERNAME }}/8byte-intern-app:latest .
          - name: image verification
            run: docker images | grep 8byte-intern-app
          - name: pushing to docker hub repository
            run: docker push ${{ secrets.DOCKER_USERNAME }}/8byte-intern-app:latest
